<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="main" method="post">
        <input type="textarea" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="Login"/>
        <a href="/addAccount">Create Account</a>
        <span>
            <%= dispText %>
        </span>
    </form>
</body>
</html>